<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tienda</h1>
    <ul>
        {{#each productos}}
        <li>
            <img src="{{imagenes.[0]}}" width="200px" alt="">
            <h3>{{nombre}}</h3>
            <p>{{precio}}</p>
        </li>
    </ul>
</body>
</html>